<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <style>
      #map {
        height: 200px;
        width: 70%;
       }
    </style>
    <h3><%= dataPlaces.name %></h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var PS = {lat: -6.225588, lng: 106.798553};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: PS
        });
        var marker = new google.maps.Marker({
          position: PS,
          map: map
        });
        var marker2 = new google.maps.Marker({
          position: {lat: -6.2230991076, lng: 106.791596834},
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIzXpQR2AexfyCCtje5jaSrMtQO5rPNsQ&callback=initMap">
  </script>
  <h4>Your Location</h4>
  
</body>
</html>