<html>
<body>
<h1>User edit</h1>
<form class="" action="/user/edit/<%=data.id%>" method="post">
  <input type="text" placeholder="name" name="name" value=<%=data.name%>>
  <input type="text" placeholder="username" name="username" value=<%=data.username%>>
  <input type="text" placeholder="password" name="password" value=<%=data.password%>>
  <button>EDIT</button>
</form>
</body>
</html>
