<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1> LOGIN </h1>
    <form class="" action="/user/login" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button>log in</button>
    </form>
    <a href="/user/createuser">Register</a>
    <!-- <a href="/interest/list">Interest</a>
    <a href="/place/list">Place</a> -->
  </body>
</html>
