<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/">Login</a></li>
              <li><a href="/user/list">User</a></li>
              <li><a href="/place/list">Place</a></li>
              <li><a href="/interest/list">Interest</a></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
    <h1> LOGIN </h1>
    <form class="" action="/user/login" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button>log in</button>
    </form>
    <a href="/user/createuser">Register</a>
    <!-- <a href="/interest/list">Interest</a>
    <a href="/place/list">Place</a> -->
  </body>
</html>
