<html>
  <head>
    <meta charset="utf-8"
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Please choose ur interest!</h1>
    <h1><a href = "/interest/createInt"> Add Interest </a></h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>INTEREST</th>
          <th>TOOLS</th>
      </thead>
      <tbody>
        <%input.forEach(data =>{%>
        <tr>
          <td><%=data.id%></td>
          <td><%=data.interest%></td>
          <td><a href="/interest/delete/<%=data.id%>" action="/interest/delete/id" method="get">delete</a></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
