<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form class="" action="/user/login" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button>log in</button>
    </form>
  </body>
</html>
