<html>
  <head>
    <meta charset="utf-8"
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Pick ur place.</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>NAME OF PLACES</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%input.forEach(data =>{%>
          <%data.Places.forEach(result =>{%>
        <tr>
          <td><%=result.name%></td>
          <td><a href="" action="/contacts/delete/id" method="get">Add to wishlist</td>
        </tr>
        <%})%>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
