<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Places</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Tools</td>
            </tr>
        </thead>
        <tbody>
            <% dataPlaces.forEach(data => {%>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.name %></td>
                <td>
                    <a href="/place/edit/<%= data.id%>">Edit</a>
                    <a href="/place/delete/<%= data.id%>">Delete</a>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
    <a href="/place/list/add">Add Places</a>
</body>
</html>
