<html>
  <head>
    <meta charset="utf-8"
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Places you might like to visit</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>NAME OF PLACES</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%input.forEach(data =>{%>
          <%data.Places.forEach(result =>{%>
        <tr>
          <td><a href="/interest/places_interest/detail_place" action="/interest/detail_place"><%=result.name%></a></td>
          <td><a href="/interest/wishlist" action="/interest/invoice" method="get">Add to wishlist</a></td>
        </tr>
        <%})%>
        <%})%>
      </tbody>
      <p><a href="/interest/list">Back</a></p>
    </table>
  </body>
</html>
